$button-color: $Green-1;
$button-text-color: $White;

/**
 * Buttons
 */
 .button {
    // @include vertical-rhythm;
    font-size: $brand-font-size ;
    margin: 0;
    padding: 1rem;
    color: $button-text-color;
    background-color: $button-color;
    border-radius: $corner-radius;
    font-weight: 500;
    min-width: 80px;
    width: auto;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    appearance: none;

    &:hover {
      box-shadow: inset 0px 0px 16px rgba(255, 255, 255, 0.5);
      text-decoration: none;
    }
    &:focus {
      outline: none
    }
  
    /**
     * Inlined buttons on large screens
     */
    // @include respond-to('medium') {
    //   display: inline-block;
    // }
  }

  .button-small { 
    padding: 8px 8px;
  }
  .button-large {
    padding: 0;
    padding: 16px 16px;
    font-size: 14px;
    margin-bottom: 16px;
    max-width: 160px;
  }
  
  // Button Types
  .button-cancel {
    background-color: $White;
    color: $Green-1;
  }
  .button-open {
    background-color: $Amber-2;
    color: $White;
  }
  .button-delete {
    background-color: $Red-1;
    color: $White;
  }

  .button-cta {
    font-size:12px;
    line-height:18px;
    font-family:'Open Sans', Helvetica, Arial, sans-serif;
    color:#29615B;
    font-weight:bold;
    text-decoration:none;
    text-transform:uppercase;
    letter-spacing:2.4px;
    border-radius:20px;
    background-color:#FFC80A;
    padding:11px 32px;
    display:block;
  }
  /**
   * Icons within buttons
   */
  .button > svg {
    fill: currentcolor;
  }
  
  /**
   * Inline button
   */
  .button--inline {
    display: inline-block;
  }
  .buffer-link {
    
  }
