body {
    -webkit-font-smoothing: antialiased;
}
p, a, th, td, span, dl dt, dl dd {
    font-size: $brand-font-size;
    font-weight: $brand-font-weight;
    color: $Green-2;
    margin-bottom: 12px;
    
}
h1 {
    font-size: 28px;
}
h2 {
    font-size: 20px;
}
h3 {
    font-size: 16px;
}
h1, h2, h3 {
    font-weight: 700;
    margin-top: 0px;
    font-style: normal;
    margin-bottom: 16px;
    color: $Green-2;
}

.text-number {
    text-align: right;
}

code  {
    font-family: monospace;
}