// Font Family
$system-font-stack: -apple-system, BlinkMacSystemFont, 'Helvetica', "Segoe", sans-serif;
$brand-font-family: "museo-sans-rounded", Helvetica Neue, $system-font-stack !default;
$brand-font-size: 14px;
$brand-font-weight: 300;

// Colours
$Green-1: rgb(73, 174, 163); // #49AEA3 (JADE)
$Green-2: rgb(41, 97, 91); // #29615B (EDEN)
$Grey-1: rgb(230, 233, 237); // #E6E9ED (ATHENS)
$Grey-2: rgb(205, 207, 209); // #CDCFD1 (IRON)
$Grey-3: rgb(151, 151, 151); // #979797 (GRAPHITE)
$Amber-1: rgb(255, 200, 10); // #FFC80A (CYBER)
$Amber-2: rgb(243, 176, 67); // #F3B043 (FIRE)
$Red-1: rgb(224, 95, 95); // #E05F5F (FLAMINGO)
$White: #ffffff;
$moonlight-white: rgb(242, 244, 248); // #F2F4F8

$grid-space: 8px;
$corner-radius: 3px;

$contentbox-padding: 3 * $grid-space  4 * $grid-space;
$contentbox-spacing: 3 * $grid-space;

// Font Size Definitions
$section-header: 20px;
$section-header-spacing: 24px;

$contentbox-header: 16px;
$contentbox-header-color: $Green-2;
$contentbox-header-spacing: 19px;
$contentbox-label: 14px;
$contentbox-label-spacing: 17px;
$contentbox-label-color: $Green-1;
