<div class="row">
  <div class="col-md-12">
    <p>To get started, </p>
    <ol>
      <li>log into Nightbot with your existing platform.</li>
      <li>Once your commands are loaded, click Export to get your commands backed up in a file</li>
      <li>Log out of NightbotMover</li>
      <li>Log back into Nightbot with your new platform</li>
      <li>Click Import and select the file you just downloaded</li>
      <li>Now go to Nightbot to make any changes to your imported commands!</li>
    </ol>
    <a class="btn btn-primary" href="/oauth/authorize">Login</a>
  </div>
</div>
