<div class="row">
  <h1 class="text-danger">500 Server Error</h1>
  <h2 class="text-danger">There was a problem when trying to load the page. Sorry about that </h2>
  <code><%= @error %></code>
  <a href="/">Try going Home</a>
</div>
