<div class="row">
  <div class="col-md-12">
    <p>Created by <a href="//twitter.com/domster">@domster</a>. <a href="//github.com/dombarnes/nightbot-mover">View the source</a></p>
    <p>Powered by <a href="//heroku.com">Heroku</a>
  </div>
</div>
